@font-face {
    font-family: 'Outer Zone';
    /* src: url(https://elxer.com/assets/css/fonts/outer_zone-webfont.woff2) format('woff2'), url(https://elxer.com/assets/css/fonts/outer_zone-webfont.woff) format('woff'); */
    src: url('../../assets/fonts/Outer zone/Outer zone.woff2'), url('../../assets//fonts//Outer zone/Outer zone.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

html,
body,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: 'Nunito';
    font-size: 1.1rem;
    overflow-x: hidden;
}

.feedback-body{
    height: 100vh;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
}

.feedback-body p {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.m-0 {
    margin: 0 !important;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}

.inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#feedback-header {
    background: #0077db;
    color: #fff;
    margin: 0;
    padding: 3rem 0 5rem;
    text-align: center;
}

#feedback-header h1 {
    font-size: 2.2rem;
    margin: 0;
    letter-spacing: 5px;
}

#feedback-header .feedback-logo {
    font-family: 'Outer Zone';
    font-weight: 500;
    color: #fff;
    /* Color Changed as it was getting overridden with black color */
}

.wrapper {
    margin: -3rem auto 1rem;
    width: 60%;
}

.wrapper h2 {
    font-family: Montserrat;
    font-size: 1.5rem;
    margin-top: 0;
}

.wrapper p:last-child {
    margin: 0;
}

.form-group {
    margin-bottom: 2rem;
    position: relative;
}

.form-group:last-child {
    margin: 0;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

label {
    display: inline-block;
    font-size: 1rem;
}

/* label small {
    color: red;
} */

input,
textarea,
select {
    width: 100%;
    background: transparent;
    padding: 1rem;
    border: 2px solid #ccc;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); */
    outline: none;
}

.feedbackFormDiv input{
    width: 100%;
    background: transparent;
    padding: 1rem;
    border: 2px solid #ccc;
    -webkit-transition: border-color .3s;
    -o-transition: border-color .3s;
    transition: border-color .3s;
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); box-shadow: inset 0 0 4px 0 rgba(0,0,0,.40); */
    outline: none;
}
select {
    font-size: 15px;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #0077db;
}

.feedback-heading {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: 0px 5px 30px 0px rgba(214, 215, 216, 0.57);
}

.feedback-heading form {
    display: none;
    margin-top: 3rem;
    text-align: center;
}
/* Removed button as it was overridding with other pages button */
/* .button {
    background-color: #0077db;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.26);
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5;
    padding: .6rem 1.4rem;
    position: relative;
    overflow: hidden;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: box-shadow 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
} */

.button:hover,
.button:focus,
.button:active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:focus {
    outline: 0;
}

.button .pulse {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    left: 0;
    margin: 0 -50%;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
}

.footer {
    font-size: .9rem;
    text-align: center;
}

.form-group.rating input[type=radio] {
    position: absolute;
    left: -9999px;
}

.form-group.rating label {
    margin-right: 2rem;
}

.form-group.rating label:last-child {
    margin: 0;
}

.form-group label img {
    cursor: pointer;
    margin: 0 auto;
    height: 48px;
    width: 48px;
    transition: transform .2s;
    /* Animation */
}

.form-group label img:hover,
.form-group label img:focus,
.form-group label img:active,
.form-group label img.active {
    transform: scale(1.4);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.badge {
    background: #ddd;
    border-radius: 1rem;
    font-size: 0.9rem;
    margin-top: .5rem !important;
    padding: 0 1rem;
}

.badge.poor {
    background: #ff4b5c;
    color: #fff;
}

.badge.fair {
    background: #c87941;
    color: #fff;
}

.badge.good {
    background: #81b214;
    color: #fff;
}

.badge.great {
    background: #158467;
    color: #fff;
}

@media only screen and (max-width:768px) {

    body,
    label {
        font-size: .95rem;
    }

    header h1 {
        font-size: 1.8rem;
    }

    .wrapper {
        width: 90%;
    }

    .wrapper h2 {
        font-size: 1.2rem;
    }

    .feedback-heading {
        padding: 1.5rem;
    }

    .form-group label img {
        height: 36px;
        width: 36px;
    }

    .form-group.rating label {
        margin-right: 0;
    }
}

.spinner {
    display: none;
    position: absolute;
    top: 32px;
    right: 10px;
    height: 36px;
    width: 36px;
    border: 2px rgba(0, 0, 0, .25) solid;
    border-top: 2px #000 solid;
    border-radius: 50%;
    -webkit-animation: spin2 1s infinite linear;
    animation: spin2 1s infinite linear
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin2 {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.otp-wrapper {
    display: none;
}

.radio {
    margin: 0 0 1rem;
}

.radio:last-child {
    margin: 0;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.1em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    background-color: #0077db;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #0077db;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

response {
    display: block;
    text-align: left;
}

.success {
    color: green;
}

.error {
    color: red;
}

.resend-otp-timer,
.resend-otp-btn {
    display: none;
    font-size: .8rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 40px;
}

.resend-otp-btn {
    cursor: pointer;
}

.rating-item-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.rating-item:not(:last-child) {
    margin-right: .4rem;
}

.rating-item {
    margin: 1em 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.rating-item,
.rating-item>label {
    display: -ms-flexbox;
    display: flex;
    width: 3.33333em;
    -ms-flex-align: center;
    align-items: center;
}

.rating-item-title.for-from,
.rating-item-title.for-to {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    margin-bottom: 0;
}

.rating-item-title {
    font-size: .8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    white-space: nowrap;
}

.rating-item input+label,
.rating-item input+span {
    cursor: pointer;
}

.rating-item input {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.rating-item input:focus+label,
.rating-item input:hover+label,
.rating-item input:checked+label {
    background-color: #0077db;
    color: #fff;
    border-color: #0077db;
}

.rating-item span label {
    font-size: inherit;
}

.rating-item>label {
    height: 3.33333em;
    border: 1px solid;
    font-size: .75em;
    border-radius: 50%;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
}

.inputForFeedbackMobile{
    background-color: white;
    font-size: 1rem
}